<section [class.loading]="isLoading" *ngIf="weatherData">
  <div class="value">
    <div>
      City name
    </div>
    <div class="boldText">{{weatherData.name}}</div>
  </div>
  <div class="value">
    <div>Temperature</div>
    <div class="boldText">{{weatherData.main.temp}}</div>
  </div>
  <div class="value">
    <div>Sunrise time</div>
    <div class="boldText">{{weatherData.sys.sunrise | date:"shortTime"}}</div>
  </div>
  <div class="value">
    <div>Sunset time</div>
    <div class="boldText">{{weatherData.sys.sunset| date:"shortTime"}}</div>
  </div>
</section>