
<h1>
    Next 5 days at 9:00.
</h1>
<div style="display: flex;
flex-wrap: wrap;flex-direction: column;">
    <div *ngFor="let item of dataList" style="margin: 4px;">
        <div>
            <strong>Temperature:</strong> {{item.main.temp}}
        </div>
        <div>
            <strong>Sea leve:</strong> {{item.main.sea_level}}
        </div>
    </div>
</div>