<div style="display: flex;
flex-wrap: wrap;">
    <app-widget-wrapper *ngFor="let item of europeCities" (click)="openTemp(item)">
        <app-weather-widget [cityName]="item.city" [endpointValue]="item.value"></app-weather-widget>
    </app-widget-wrapper>
</div>