:host {
  display: block;
  border: #f0ebeb solid 1px;
  border-radius: 5px;
  padding: 15px;
  background-color: #fafafa;
  width: 400px;
  margin: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
